.container-principal {
    width: 100%;
    height: 760px;
    display: flex;
    flex-direction: row;
  }
  
  .container-principal .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    width: 45%;
  }
  
  .container-principal .image-container {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-principal .text-container h1 {
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
  }
  
  .container-principal .text-container p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    height: 38%;
  }
  
  .container-principal .text-container button {
    width: 182px;
    height: 47px;
    border-radius: 20px;
    background: rgba(217, 217, 217, 0.75);
    border: none;
    cursor: pointer;
    transition: 0.6s ease;
  }
  
  .container-principal .text-container button:hover {
    background-color: #fff;
    border: 1px solid black;
    
  }
  
  .container-principal .text-container button {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
  
  .container-principal .image-container .backMira {
    width: 60%;
    height: 70%;
    position: relative;
    background-image: url(../images/Rectangle\ 1.png);
    background-repeat: no-repeat;
  }
  
  .container-principal .image-container .carCont {
    width: 35%;
    height: 41%;
    left: 64%;
    top: 37%;
    position: absolute;
    background-repeat: no-repeat;
    animation: drive 0.9s ease;
  }
  
  
  
  @keyframes drive {
    0% {
      left: 74%;
      top: 27%;
      width: 0%;
      height: 0%;
      opacity: 0;
    }
    10% {
      left: 73%;
      top: 28%;
      width: 3.5%;
      height: 4.1%;
      opacity: 0.1;
    }
    20% {
      left: 72%;
      top: 29%;
      width: 7%;
      height: 8.2%;
      opacity: 0.2;
    }
    30% {
      left: 71%;
      top: 30%;
      width: 10.5%;
      height: 12.3%;
      opacity: 0.3;
    }
    40% {
      left: 70%;
      top: 31%;
      width: 14%;
      height: 16.4%;
      opacity: 0.4;
    }
    50% {
      left: 69%;
      top: 32%;
      width: 17.5%;
      height: 20.5%;
      opacity: 0.5;
    }
    60% {
      left: 68%;
      top: 33%;
      width: 21%;
      height: 24.6%;
      opacity: 0.6;
    }
    70% {
      left: 67%;
      top: 34%;
      width: 24.5%;
      height: 28.7%;
      opacity: 0.7;
    }
    80% {
      left: 66%;
      top: 35%;
      width: 28%;
      height: 32.8%;
      opacity: 0.8;
    }
    90% {
      left: 65%;
      top: 36%;
      width: 31.5%;
      height: 36.9%;
      opacity: 0.9;
    }
    100% {
      left: 64%;
      top: 37%;
      width: 35%;
      height: 41%;
      opacity: 1;
    }
  }