.card {
    width: fit-content;
    gap: 15em;
    display: flex;
}

li{
    list-style: none;
}
.title{

}

.foto{
    display: flex;
}

.destaque {
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.lista {
    display: flex;
    margin-top: 5%;
}

.saber {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    width: 182px;
    height: 47px;
    border-radius: 20px;
    background: rgba(217, 217, 217, 0.75);
    border: none;
    cursor: pointer;
    transition: 0.6s ease;
}

.saber:hover {
    background-color: #fff;
    border: 1px solid black;
}